@import "../../scss/library";
.bottom {
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    &--text {
      @include sectionTitle();
    }
  }
  p {
    text-align: center;
  }

  &__button {
    background: #ffc045;
    text-transform: uppercase;
    padding: 20px;
    font: normal normal normal 25px/17px Bebas Neue;
    margin-bottom: 30px;
  }
}
